.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pull-right {
    float: right !important;
  }
.pull-left {
    float: left !important;
  }

.btn-xs {
  padding:1px 5px;
  font-size:12px;
  line-height:1.5;
  border-radius:3px;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
